.wd-profile-back {
    width: 1.25rem;
    height: 1.25rem;
}

.wd-profile-back:hover {
    cursor: pointer;
    background-color: gainsboro;
}

.wd-profile-banner {
    width: 100%;
    max-height: 15rem;
    object-fit: cover;
}

.wd-profile-pic {
    width: 9rem;
    height: 9rem;
    bottom: -5rem;
    left: 1rem;
    z-index: 1;
}

.wd-profile-gap {
    padding-top: 6rem !important;
}

.wd-profile-header {
    height: 63px;
}